<div id="<%= dom_id item %>" class="flex items-center gap-2 pt-2">
  <p>
    <strong class="">Title:</strong>
    <%= item.title %>
  </p>

  <div class="flex gap-2 ml-auto">
    <%= button_to "Destroy", item, method: :delete, class: "font-medium text-red-600 px-2 bg-red-50 rounded-lg" %>
    <%= link_to "Show", item, class: "font-medium px-2 bg-gray-50 rounded-lg" %>
  </div>
</div>
